# my lovely alias
## for mac
alias home="cd ~/Documents/"

## git
alias g="git"
alias greset="git reset --hard HEAD\^"
alias gl="git log --color --graph"
alias gmerged="git branch --merged | grep -v '*' | xargs -I % git branch -d %"
alias gclosed="git branch --no-contains | grep -v '*' | xargs -I % git branch -D %"
alias gpu="git pull"
alias gst="git status"
alias gc="git commit -v"
alias ga="git add"
alias gd="git diff"

## zsh
alias zshrc="vi ~/.zshrc"
alias szsh="source ~/.zshrc"
autoload -U compinit
compinit

# weather
alias tenki="curl -4 wttr.in/Tokyo"

# vim
alias v="vim"

# tmux reload
alias tmux-reload="tmux source-file ~/.tmux.conf"

# trans
alias tn="trans :ja"

# kubernetes
alias k="kubectl"
