# my lovely alias
## for mac
alias home="cd ~/Documents/"

## git
alias g="git"
alias greset="git reset --hard HEAD\^"
alias gl="git log --color --graph"
alias gmerged="git branch --merged | grep -v '*' | xargs -I % git branch -d %"

## zsh
alias zshrc="vi ~/.zshrc"
alias szsh="source ~/.zshrc"
autoload -U compinit
compinit

# docker
alias do='docker exec -ti'
alias dl='docker ps'

# weather
alias tenki="curl -4 wttr.in/Tokyo"

# vim
alias v="vim"
