# gitignore init
#/*
/.*
!drop.sh

# target files
!/.gitconfig
!/.gitignore
!/.vimrc
!/.zshenv
!/.zshrc

# ignore about IDE
.idea
.idea/workspace.xml

# ignore about Vagrant
.vagrant
Vagrantfile

# ignore about other files
.DS_Store
hosts
bandai_switch.sh
bower_components
tmp_bank
