# gitignore init
/.*
!drop.sh

# target files
!/.gitconfig
!/.gitignore
!/.gitmessage.txt
!/.vimrc
!/.zshenv
!/.zshrc
!/.aliases

# ignore about IDE
.idea
.idea/*

# ignore about Vagrant
.vagrant
Vagrantfile

# ignore about node
bower_components
node_modules

# ignore direnv file
.envrc

# ignore about other files
.DS_Store
hosts
phpunit.xml.dist
Doxyfile
check_branch.sh
tool/*
rebuild.txt
test.php
