[push]
  default = simple

[user]
  name = kzbandai
  email = nisigin@gmail.com

[color]
  ui = true

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab

[fetch]
	prune = true
[ghq]
	root = /Users/kzbandai/go/src
